@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  overflow-x: hidden;
  background-color: #FAFAFA !important;
  font-family: 'Source Sans Pro' !important;
}
h1,h2{
  font-family: 'Source Sans Pro';
  font-weight: 600 !important;
}
h3,h4,h5,h6{
  font-family: 'Source Sans Pro';
  font-weight: 600;
}
#form-element {
  height: 100%;
  padding: 50px 50px;
  background-color: #fff;
  box-shadow: 0px 8px 16px -4px rgba(22, 34, 51, 0.08);
  border-radius: 20px;
  position: relative;
}
/* form styling */
.outer-btn-box{
margin-top:'50px';
display: flex;
justify-content: space-between;
align-items: baseline;
}
.next {
  background-color: #3384FF;
  padding: 15px 70px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 50px;
  position: static;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
.next:focus {
  outline: none;
  border: 0;
}
.back {
  background-color: #fff;
  color: #3384FF;
  padding: 15px 0px 0px 0px;
}
/* Third screen styling */
.country-tabs button {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  border: 1px solid #000;
  color: grey;
  border-radius: 3px;
}
.form-check{
    margin-top: 15px;
}
.form-check .form-check-label,.form-check input {
  color: gray;
}
.form-check input,.form-check textarea{
background: #f4f4f4;
}

/* Fourth Screen styling */
.terms_dv{
    display: flex !important;
    align-items: center;
}
.checkbox{
    background-color:#fff;
    height:20px;
    margin:0 .25em;
    width:20px;
    display: inline-block;
    border-radius:4px;
    border:1px solid #ccc;
    vertical-align: baseline;
}
.terms_check{
    margin-left:10px;
}

/* Final screen styling */
.dashboard-btn{
  position: relative;
  margin: 0;
  margin-top: 30px;
  right: 0;
  text-transform: capitalize;
  padding: 15px 30px;
}
/* Left Side List */
.list{
  list-style: none;
  margin: 0px 40px;
  font-weight: 500;
}
.list_li{
  padding: 17px 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-weight: bold;
  opacity:0.2; 
  color: #0a0b3e;
}
span.icon{
  content: "\2713";
  font-size: 12px;
  color: #fff;
  position: absolute;
  right:4px;
}
span.icon-outer{
  height: 18px;
  width: 18px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right:20px;

}
span.tab-text{
  display: inline-block;
  margin-left: 15px;
}
.current_tab{
  padding: 17px 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-weight: bold;
  opacity:1; 
  color: #0a0b3e;
  background-color: transparent ;
  border: 0px;
  box-shadow: none;
  border-left: 5px solid #31D0FF;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
}
.tab_activated{
  padding: 17px 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-weight: bold;
  opacity:1; 
  color: #0a0b3e;
}
.list_activated_span{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right:20px;
  background-color:#31D0FF !important;
}
.vacancies-box{
background: #FAFAFA;
padding: 20px;
border-radius: 10px;
cursor: pointer;
margin-bottom: 10px;
}
.vacancies-title{
color: #2F2E2E;
font-size: 16px;
line-height: 20px;
font-weight: 600;
font-family: 'source sans pro';
}
.vacancies-description{
font-size: 14px;
text-align: left;
}
.active_vacancy{
  border: 1px solid green;
}
.opacity{
  opacity:0.2
}
.project_job_btn:focus{
  border:1px solid #31D0FF ;
}